.fa {
    padding: 5px;
    font-size: 25px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /*border: 2px solid darkblue;*/
    border-radius: 15%;
    float: right;


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {

    color: darkblue;
}

.fa-twitter {

    color: darkblue;
}

.fa-google {

    color: darkblue;
}



.fa-youtube {

    color: darkblue;
}

.fa-instagram {

    border-color: darkblue;
}
.header{
    height: 120px;
    width: 98%;
    border-color:white;
    background-color: gainsboro;
    padding-left: 2%;
    padding-top: 1%;
    /*background-image: url("");*/

}
#logo1{
    float: left;
}