.dropbtn {
    background-color: white;
    color: darkblue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;


}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;

}

#myInput {
    border-box: box-sizing;
    background-image: image("../assets/images/search.png");
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border:none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2%;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
#map {
    height: 100%;
    /*background-color: white;*/
    /*margin-top: 10%;*/
    width: 60%;
    margin-left: 22%;
    margin-right: auto;



}

/*Optional: Makes the sample page fill the window.*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:90%;
    position:absolute;
}