<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../View/assets/loginRegistration.css" rel="stylesheet" type="text/css">
</head>
<body>
<section id="login">
    <form action="../View/configContact.php" method="post" style="max-width:500px;margin:auto">
        <h2>Форма за обратна връзка</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Име" name="f_name">
        </div>

        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Фамилия" name="l_name">
        </div>

        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="email" placeholder="email" name="email">
        </div>
        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <textarea rows="6" placeholder="Вашето запитване..." name="comments"></textarea>
        </div>
        <button type="submit" name="send_email" class="btn">Изпрати</button>
    </form>
</section>
</body>
</html>
