

<section id="login">
    <!--<form action="../Controller/UserController.php" method="post" style="max-width:500px;margin:auto">-->
    <div style="max-width:500px;margin:auto">
        <h2>Промяна на профил</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" id="f_name" type="text" name="f_name" required>
        </div>

        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" id="l_name" type="text" name="l_name" required>
        </div>

        <div class="input-container" style="color: maroon">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" id="email" type="email" name="email" required>
        </div>
        <div class="input-container" style="color: maroon">
            <i class="fa fa-key icon"></i>
            <input class="input-field" id="oldpass" type="password" placeholder="Настояща парола" name="oldpass" required>
        </div>

        <div class="input-container" style="color: maroon">
            <i class="fa fa-key icon"></i>
            <input class="input-field" id="pass" type="password" placeholder="Нова парола" name="password" required>
        </div>
        <div class="input-container" style="color: maroon">
            <i class="fa fa-key icon"></i>
            <input class="input-field" id="rpass" type="password" placeholder="Повторете паролата" name="rpassword" required>
        </div>
        <button type="submit" onclick="editInfo();" name="editProfile" class="btn">Запазете промените</button>
    </div>
    <!--</form>-->
    <div id="error-list">

    </div>

</section>

<script src="../View/assets/js/showProfile.js">
    // var objReq = new XMLHttpRequest();
    // objReq.onreadystatechange = function () {
    //     if(this.readyState == 4 && this.status == 200) {
    //         var response = JSON.parse(this.responseText);
    //         document.getElementById("f_name").setAttribute("value", response.first_name);
    //         document.getElementById("l_name").setAttribute("value", response.last_name);
    //         document.getElementById("email").setAttribute("value", response.email);
    //         // alert(this.responseText);
    //     }
    //
    // }
    // objReq.open("get", "../Controller/showProfileController.php");
    // objReq.send();
</script>
<script src="../View/assets/js/editProfile.js">

</script>





