<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook Login</title>
</head>
<body>

<!-- Display login status -->
<div id="status"></div>

<!-- Facebook login or logout button -->
<a href="javascript:void(0);" onclick="fbLogin()" id="fbLink"><img width="200" src="../View/assets/images/facebook-sign-in-button-png-26.png"/></a>

<!--Display user profile data-->
<div id="userData"></div>
<script src="../View/facebookLogin.js"></script>
<!--<script>-->
<!--var finished_loading = function() {-->
<!--console.log("finished loading");-->
<!--var spinner = document.getElementById("spinner");-->
<!--spinner.removeAttribute("style");-->
<!--spinner.removeChild(spinner.childNodes[0]);-->
<!--};-->
<!--FB.Event.subscribe('xfbml.render', finished_loading);-->
<!--</script>-->
<!--<div id="spinner"-->
<!--style="-->
<!--background: #4267b2;-->
<!--border-radius: 5px;-->
<!--color: white;-->
<!--height: 40px;-->
<!--text-align: center;-->
<!--width: 250px;">-->
<!--Loading-->
<!--<div-->
<!--class="fb-login-button"-->
<!--data-max-rows="1"-->
<!--data-size="large"-->
<!--data-show-faces="true"-->
<!--data-auto-logout-link="true"-->
<!--data-button-type="continue_with"-->
<!--data-use-continue-as="true"-->
<!--data-scope="<public_profile(Default)>">-->

<!--</div>-->
<!--</div>-->

</body>
</html>