<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dominos.bg</title>
    <link href="../View/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="footer">
    <div class="header-right">
        <a href="../Controller/indexController.php?page=main">НАЧАЛО</a>
        <a href="">МЕНЮ</a>
        <a href="../Controller/indexController.php?page=mapRestaurants">РЕСТОРАНТИ</a>
        <a href="../Controller/indexController.php?page=contact">СВЪРЖЕТЕ СЕ С НАС</a>
        <a href="">УСЛОВИЯ ЗА ПОЛЗВАНЕ</a>
        <a href="#about">АЛЕРГЕНИ</a>
        <a href="../Controller/indexController.php?page=jobs">КАНДИДАТСТВАНЕ ЗА РАБОТА</a>
    </div>
</div>
</body>
</html>