<div class="footer">
    <div class="header-right">
        <a href="https://www.facebook.com/DominosBulgaria" class="fa fa-facebook"></a>
        <a href="https://twitter.com/DominosBulgaria" class="fa fa-twitter"></a>
        <a href="https://plus.google.com/111958562895938630854" class="fa fa-google"></a>
        <a href="https://www.youtube.com/channel/UCUTBiIm_r68gSa1JY2tgDLg" class="fa fa-youtube"></a>
        <a href="../Controller/indexController.php?page=main">НАЧАЛО</a>
        <a href="../Controller/indexController.php?page=pizzaList">МЕНЮ</a>
        <a href="../Controller/indexController.php?page=contact">СВЪРЖЕТЕ СЕ С НАС</a>
        <a href="../Controller/indexController.php?page=termsOfUse">УСЛОВИЯ ЗА ПОЛЗВАНЕ</a>
        <a href="../View/assets/images/allergensbg.pdf">АЛЕРГЕНИ</a>
        <a href="../Controller/indexController.php?page=jobs">КАНДИДАТСТВАНЕ ЗА РАБОТА</a>
    </div>
</div>
</body>
</html>