
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../View/assets/nav.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../View/assets/header.css" type="text/css">

</head>
<body>
<section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header class="header">
        <h3 id="logo1">
            <img height="70px" src="https://corporate.dominos.co.uk/Media/Default/Image%20Library/Image%20library%20-%20logos/RGB_Blue_Type_Horz-1.png" alt="pizza">
        </h3>
        <!--<a  href="../Controller/indexController.php?page=main" id="photo" class="btn"><i class="fa fa-home"></i></a>-->
        <a href="https://www.facebook.com/DominosBulgaria" class="fa fa-facebook"></a>
        <a href="https://twitter.com/DominosBulgaria" class="fa fa-twitter"></a>
        <a href="https://plus.google.com/111958562895938630854" class="fa fa-google"></a>
        <a href="https://www.youtube.com/channel/UCUTBiIm_r68gSa1JY2tgDLg" class="fa fa-youtube"></a>


    </header>
</section>
</body>

</html>
<head>


