<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dominos.bg</title>
    <link href="../View/assets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../View/assets/loginRegistration.css" rel="stylesheet" type="text/css">
    <link href="../View/assets/map.css" rel="stylesheet" type="text/css">
    <link href="../View/assets/carry.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</head>
<body style="background-color: darkgrey" onload="getHistory();">
<div class="header">
    <a href="../Controller/indexController.php?page=main">
        <img id="logoD" style="height:70px" src="../View/assets/images/logoDominos.png" alt="pizza"></a>
    <div class="header-right">
        <a class="active" href="../Controller/indexController.php?page=main">НАЧАЛО</a>
        <a href="../Controller/indexController.php?page=contact">КОНТАКТИ</a>
    </div>
</div>