<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--<embed id="plugin" type="application/x-google-chrome-pdf" src="https://www.dominos.bg/allergensbg.pdf" stream-url="blob:chrome-extension://mhjfbmdgcfjbbpaeojofohoefgiehjai/6474b453-8f34-4379-9d1b-4eb159cb81e8" headers="status: 200-->
<!--alt-svc: quic=&quot;:443&quot;; ma=2592000; v=&quot;35,37,38,39&quot;-->
<!--last-modified: Wed, 16 Aug 2017 10:52:19 GMT-->
<!--content-length: 3681181-->
<!--content-type: application/pdf-->
<!--date: Fri, 20 Apr 2018 16:30:13 GMT-->
<!--accept-ranges: bytes-->
<!--server: LiteSpeed-->
<!--" background-color="0xFF525659" top-toolbar-height="56" full-frame="">-->
</body>
</html>
<a href="https://www.dominos.bg/allergensbg.pdf">natisni</a>