<h3 style="color: white"><i>Ако искате да станете част от нашия печеливш отбор, да представлявате марката Domino’s,
    да доставяте сигурност, добро обслужване и вкусна храна на нашите клиенти, моля попълнете формата по-долу.</i></h3>
<section id="login">
    <form action="../Controller" style="max-width:500px;margin:auto">
        <h2>Попълнете данните</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Име" name="f_name">
        </div>

        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Фамилия" name="l_name">
        </div>

        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="email" placeholder="email" name="email">
        </div>

        <div class="input-container">
            <i class="fa fa-institution icon"></i>
            <input class="input-field" type="text" placeholder="Град" name="city">
        </div>
        <div class="input-container">
            <i class="fa fa-file icon"></i>
            <input class="input-field" type="file" placeholder="cv" name="cv">
        </div>
        <button type="submit" name="register" class="btn">Регистрация</button>
    </form>
</section>
