<h3 style="color: white"><i>Tuk pleskam edna greshka.</i></h3>
<section id="login">
    <form action="../Controller/configJobController.php" method="post" style="max-width:500px;margin:auto">
        <h2>Попълнете данните</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Име" name="f_name" required>
        </div>

        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Фамилия" name="l_name" required>
        </div>

        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="email" placeholder="email" name="email" required>
        </div>

        <div class="input-container">
            <i class="fa fa-institution icon"></i>
            <input class="input-field" type="text" placeholder="Град" name="city" required>
        </div>
        <div class="input-container">
            <i class="fa fa-file icon"></i>
            <input class="input-field" type="file" placeholder="cv" name="cv" accept="application/pdf">
        </div>
        <button type="submit" name="send_cv" class="btn">Изпрати</button>
    </form>
</section>
