<h2>Невалидни данни! Моля пробвайте отново.</h2>
<section id="login">
    <form action="../Controller/loginController.php" method="POST" style="max-width:500px;margin:auto">
        <h2>Форма за вход</h2>
        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="email" placeholder="email" name="email" required>
        </div>
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" placeholder="password" name="password" required>
        </div>
        <button type="submit" name="login" class="btn">Вход</button>
    </form>
</section>

