<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../View/assets/nav.css" rel="stylesheet">

</head>
<body>
<section>

    <div class="register" style="margin-bottom: 10%">
        <fieldset style="color: darkred">
            <legend><h2>Вход</h2></legend>
            <table>
                <form action="../Controller/loginController.php" method="post">
                    <link href="assets/style.css" rel="stylesheet">
                    <TD style="color: darkred">Email : </TD>  <TD><input type="email" size="33" name="email" ></TD>
                    </TR>
                    <TR>
                        <TD style="color: darkred">Парола : </TD><TD><input type="password" size="33" name="password" ></TD>
                    </TR>
                    <TD style="color: darkred" COLSPAN="2" class="or"> <input type="submit" name="login" value="Вход"></TD>

                </form>
            </table>
        </fieldset>
        <br>
        <br>
    </div><br>
    <!--<div class="regyet">-->
        <!--<a href="../Controller/indexController.php?page=register"  class="or">Все още нямам регистрация</a>-->
    <!--</div>-->
</section>
</body>
</html>