<!--<script src="../View/assets/js/pizzaList.js"  type="text/javascript"></script>-->
<!--<div class="item active"><img src="../View/assets/images/pizzalogo.jpg" alt="pizza" width="100%" ></div>-->
<!--<div id="pizza-conainer"></div>-->
<div>
    <img class="mySlides" src="../View/assets/images/pizzalogo.jpg" style="width:100%">
    <img class="mySlides" src="../View/assets/images/logosalads.jpg" style="width:100%">
    <img class="mySlides" src="../View/assets/images/logosandwich.jpg" style="width:100%">
</div>

<script src="../View/assets/js/menuImages.js"></script>


