

<head>
    <link href="../View/assets/style.css" rel="stylesheet" type="text/css">
    <link href="../View/assets/nav.css" rel="stylesheet" type="text/css">
    <link href="../View/assets/reset.css" rel="stylesheet" type="text/css">
    <style>
        #marginnav{
            margin-top: 5%;

        }
    </style>
</head>
<body>

<!--<div class="responsive">-->
<!--    <div class="gallery">-->
<!---->
<!--            <img src="../View/assets/images/pizza1.jpg" alt="pizza">-->
<!---->
<!---->
<!--        <div class="desc"> <form action="../Controller/" method="post">-->
<!--                <input type="hidden" name="" value="">-->
<!--                <input class="or" type="submit" name="order" value="Поръчай"></form></div>-->
<!--    </div>-->
<!--</div>-->
<!---->
<!---->
<!--<div class="responsive">-->
<!--    <div class="gallery">-->
<!--        <a target="_blank" href="../View/assets/images/pizza2.jpg">-->
<!--            <img src="../View/assets/images/pizza2.jpg" alt="pizza">-->
<!--        </a>-->
<!--        <div class="desc"> <form action="../Controller/" method="post">-->
<!--                <input type="hidden" name="" value="">-->
<!--                <input class="or" type="submit" name="order" value="Поръчай"></form></div>-->
<!--    </div>-->
<!--</div>-->
<!---->
<!--<div class="responsive">-->
<!--    <div class="gallery">-->
<!--        <a target="_blank" href="../View/assets/images/pizza3.jpg">-->
<!--            <img src="../View/assets/images/pizza3.jpg" alt="pizza">-->
<!--        </a>-->
<!--        <div class="desc"> <form action="../Controller/" method="post">-->
<!--                <input type="hidden" name="" value="">-->
<!--                <input class="or" type="submit" name="order" value="Поръчай"></form></div>-->
<!--    </div>-->
<!--</div>-->
<!---->
<!--<div class="responsive">-->
<!--    <div class="gallery">-->
<!--        <a target="_blank" href="../View/assets/images/pizza4.jpg">-->
<!--            <img src="../View/assets/images/pizza4.jpg" alt="pizza">-->
<!--        </a>-->
<!--        <div class="desc"> <form action="../Controller/" method="post">-->
<!--                <input type="hidden" name="" value="">-->
<!--                <input class="or" type="submit" name="order" value="Поръчай"></form></div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="responsive">-->
<!--    <div class="gallery">-->
<!--        <a target="_blank" href="../View/assets/images/pizza5.jpg">-->
<!--            <img src="../View/assets/images/pizza5.jpg" alt="pizza">-->
<!--        </a>-->
<!--        <div class="desc"> <form action="../Controller/" method="post">-->
<!--                <input type="hidden" name="" value="">-->
<!--                <input class="or" type="submit" name="order" value="Поръчай"></form></div>-->
<!--    </div>-->
<!--</div>-->
<!---->
<!--<div class="responsive">-->
<!--    <div class="gallery">-->
<!--        <a target="_blank" href="../View/assets/images/pizza6.jpg">-->
<!--            <img src="../View/assets/images/pizza6.jpg" alt="pizza">-->
<!--        </a>-->
<!--        <div class="desc"> <form action="../Controller/" method="post">-->
<!--                <input type="hidden" name="" value="">-->
<!--                <input class="or" type="submit" name="order" value="Поръчай"></form></div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="responsive">-->
<!--    <div class="gallery">-->
<!--        <a target="_blank" href="../View/assets/images/pizza7.jpg">-->
<!--            <img src="../View/assets/images/pizza7.jpg" alt="pizza">-->
<!--        </a>-->
<!--        <div class="desc"> <form action="../Controller/" method="post">-->
<!--                <input type="hidden" name="" value="">-->
<!--                <input class="or" type="submit" name="order" value="Поръчай"></form></div>-->
<!--    </div>-->
<!--</div>-->
<!---->
<!--<div class="responsive">-->
<!--    <div class="gallery">-->
<!--        <a target="_blank" href="../View/assets/images/pizza8.jpg">-->
<!--            <img src="../View/assets/images/pizza8.jpg" alt="pizza">-->
<!--        </a>-->
<!--        <div class="desc"> <form action="../Controller/" method="post">-->
<!--                <input type="hidden" name="" value="">-->
<!--                <input type="submit" name="order" value="Поръчай"></form></div>-->
<!--    </div>-->
<!--</div>-->
<div id="marginnav">

    <img width="100%" height="auto" src="../View/assets/images/pizzalogo.jpg">
</div>
</body>