<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Изберете локация на ресторант. </button>
    <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a onclick="initMap(42.6744602797609, 23.30944039173596)">София - Вапцаров, бул. Никола Вапцаров 6 </a>
        <a onclick="initMap(42.137730, 24.789807)">Пловдив ж.к Тракия ул.Георги Данчов 16</a>
        <a onclick="initMap(42.141556, 24.739905)">Пловдив - Център ул.Иван Андонов 5</a>
        <a onclick="initMap(42.697321, 23.317077)">София - Център ул.Александър Стамболийски 41</a>
        <a onclick="initMap(42.671274, 23.293388)">София - Борово бул.България 95</a>
        <a onclick="initMap(42.680150, 23.356986)">София - Гео Милев ул.Александър Жендов 6</a>
        <a onclick="initMap(42.652027, 23.404193)">София - Дружба ул.Проф.Цветан Лазаров 124</a>
        <a onclick="initMap(42.695244, 23.285726)">София - Красна Поляна ул.Пчиня 31</a>
        <a onclick="initMap(42.713063, 23.248690)">София - Люлин ул.Панчо Владигеров 21</a>
        <a onclick="initMap(42.636111, 23.369645)">София - Младост 78 </a>
    </div>
</div>
<script src="../View/assets/js/map.js"></script>
<div id="map"></div>
<script src="../View/assets/js/map.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo-dooaX6Kx7UmFlTAEG2hUf05MhvrJ-s&callback=initMap">
</script>


