<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .vertical-menu {
            width: 150px;
            margin-top: 6%;
        }

        .vertical-menu a {
            background-color: gainsboro;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            background-color: darkred;
            color: white;
        }
    </style>
</head>
<body>



<div class="vertical-menu">
    <a href="#" class="active">МЕНЮ</a>
    <a href="#">ПИЦИ</a>
    <a href="#">САЛАТИ</a>
    <a href="#">ПАСТИ</a>
    <a href="#">НАПИТКИ</a>
</div>

</body>
</html>
