<section class="tprod">

    <table class="products_table" border="1" style="width: 55%">
        <tr>

            <th>Град</th>
            <th>Квартал</th>
            <th>Блок</th>
            <th>Вход</th>

            <th>Изтрий</th>
        </tr>
        <tbody id="data"></tbody>

    </table>

    <script src="../View/assets/js/showAddresses.js">

    </script>


</section>

<div id="addressErrField">

</div>


<a class="or navbutton" href="../Controller/indexController.php?page=addAddress">ДОБАВЕТЕ НОВ АДРЕС</a>