<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../View/assets/nav.css" rel="stylesheet" type="text/css">

</head>

<body>

<nav id="head">
    <a class="or navbutton" href="../Controller/indexController.php?page=menu">МЕНЮ</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=mapRestaurants">РЕСТОРАНТИ</a>
    <a class="or navbutton " href="../Controller/indexController.php?page=login">ПОРЪЧАЙ</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=contact">ПИШЕТЕ НИ</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=login">ВХОД</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=register">РЕГИСТРАЦИЯ</a>

</nav>

</body>
</html>