<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav id="head">
    <a class="or navbutton" href="../Controller/indexController.php?page=">alergeni</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=">meni</a>
    <a class="or navbutton " href="../Controller/indexController.php?page=">order</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=add_in_cart">ПОРЪЧАЙ</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=logout">ИЗХОД</a>
    <a class="or navbutton" href="../Controller/indexController.php?page=main">НАЗАД</a>

</nav>
</body>
</html>