<div class="topnav" id="myTopnav">
    <a href="../Controller/indexController.php?page=pizzaList">МЕНЮ</a>
    <a href="../Controller/indexController.php?page=mapRestaurants">РЕСТОРАНТИ</a>
    <a href="../Controller/indexController.php?page=orderWay">ПОРЪЧАЙ СЕГА</a>
    <a href="../Controller/indexController.php?page=contact">ПИШЕТЕ НИ</a>
    <a href="../Controller/indexController.php?page=login">ВХОД</a>
    <a href="../Controller/indexController.php?page=register">РЕГИСТРАЦИЯ</a>
    <a style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script src="../View/navMenu.js"></script>
