<div class="topnav" id="myTopnav">
    <a href="" class="active">МЕНЮ</a>
    <a href="../Controller/indexController.php?page=mapRestaurants">РЕСТОРАНТИ</a>
    <a href="../Controller/indexController.php?page=main">ПОРЪЧАЙ СЕГА</a>
    <a href="../Controller/indexController.php?page=contact">ПИШЕТЕ НИ</a>
    <a href="../Controller/indexController.php?page=editProfile">ПРОФИЛ</a>
    <a href="../Controller/indexController.php?page=pizzaList">ПОРЪЧКИ</a>
    <a href="../Controller/indexController.php?page=contact">АДРЕСИ</a>
    <a href="../Controller/indexController.php?page=logout">ИЗХОД</a>
    <a  style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script src="../View/navMenu.js"></script>




