
<section id="login">
    <!--<form action="../Controller/UserController.php" method="post" style="max-width:500px;margin:auto">-->
        <div style="max-width:500px;margin:auto">
        <h2>Форма за регистрация</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" id="f_name" type="text" placeholder="Име" name="f_name">
        </div>

        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" id="l_name" type="text" placeholder="Фамилия" name="l_name">
        </div>

        <div class="input-container" style="color: maroon">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" id="email" type="email" placeholder="email" name="email">
        </div>

        <div class="input-container" style="color: maroon">
            <i class="fa fa-key icon"></i>
            <input class="input-field" id="pass" type="password" placeholder="Парола" name="password">
        </div>
        <div class="input-container" style="color: maroon">
            <i class="fa fa-key icon"></i>
            <input class="input-field" id="rpass" type="password" placeholder="Повторете паролата" name="rpassword">
        </div>
        <button type="submit" onclick="register();" name="register" class="btn">Регистрация</button>
        </div>
    <!--</form>-->
    <div id="err-list">

    </div>

</section>
<script src="../View/assets/js/register.js">

</script>
