<section class="one">
<h2>УСЛОВИЯ ЗА ПОЛЗВАНЕ</h2>
    <p class="one">Поради липса на човешки фактор в изпращането и получаването на поръчки чрез мрежата (online), е необходимо да вземете предвид долуспоменатите условия преди да попълните данните си или/и поръчката си. Моля, прочетете внимателно!
Минималните стандарти, на които трябва да отговарят браузерите ви (browsers), за да поръчате чрез нашия сайт са:  Internet Explorer 7, Mozilla Firefox 2, Safari 4 или следващи версии с активиран JavaScript.
Промяна или анулиране на поръчка след нейното изпращане не може да бъде направена.
Осребряват се за online поръчки само намаленията и купоните, упоменати в съответните формуляри, или когато е обявено специално от дружеството.
За пиците от менюто може да се смени един продукт с друг безплатно. Можете да добавите повече продукти, с допълнително заплащане, както е упоменато в менюто. Премахването на продукти не променя цената на пицата.
Минималната сума за онлайн поръчка за доставка е 7лв.
При пиците на специална офертна цена всяка замяна се таксува.
Поръчките, както и данните за контакт на клиенти, които поръчват за първи път, може да бъдат потвърдени по телефона. Поради тази причина, молим, да упоменете в online поръчката си телефон, така че да имаме възможност да ви позвъним за потвърждение.
Domino’s не може да гарантира непрекъснатото функциониране на www.dominos.bg и не носи никаква отговорност относно който и да било технически или друг проблем при ползване на www.dominos.bg
Защита на лични данни
Ползването на услугите, предоставени от www.dominos.bg , включително и предоставянето на услугите за online поръчка на продуктите на Domino’s, предполага осигуряване на възможността за контакт с вас. Следователно е необходимо, при регистрацията ви, да
заявите точните данни, които ще ви бъдат поискани, като например: име, електронен адрес, пощенски адрес, телефон. С
регистрирането ви на www.dominos.bg и въвеждането на изискуемите данни предоставяте съгласието си за събиране, ползване
и обработка на личните ви данни, които доброволно въвеждате за целите, упоменати по-долу.
Domino’s събира и съхранява изключително и само данни, които вие й известявате при въвеждането на изискуемата информация в
съоветните полета или/и на отговорите ви в рамките на конкретни дейности, които извършва Domino’s и доброволно можете да
участвате.Цел на събирането, ползването и обработката на личните ви данни, които заявявате на дружеството, е предоставянето
на услугите и на продуктите, които искате чрез уебсайта (website), за получаването на които се изисква ползването или/и
обработката им, напр. online поръчки, продажба и дистрибуция на продуктите и на услугите, които се предоставят от Domino’s
изключително чрез www.dominos.bg .
</p>
    </section>



